{% extends "base.html" %}

{% block body %}
<div id="page-wrapper" style="min-height: 446px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">添加证书</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    添加证书
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <form class="form-horizontal" enctype="multipart/form-data" role="form" method="POST">
                            {% module xsrf_form_html() %}
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">名称</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="name" placeholder="填写证书名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="desc" class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="desc" placeholder="填写证书描述">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="used" class="col-sm-2 control-label">被绑定项目</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="used" placeholder="填写被绑定项目，以, 分隔">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="spec" class="col-sm-2 control-label">域名规则</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="spec" placeholder="填写域名规则">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="expiration" class="col-sm-2 control-label">过期时间</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="expiration" placeholder="填写过期时间eg, 2020-10-10 00:00">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="file" class="col-sm-2 control-label">证书</label>
                                <div class="col-sm-6">
                                    <input type="file" class="form-control" name="file" placeholder="上传证书">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-6">
                                    <font color="#5cb85c">
                                        {{message or ''}}
                                    </font>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-6">
                                    <button type="submit" class="btn btn-default">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
